@media screen and (min-width: 550px) {
    body{
        display: flex;
        flex-flow: wrap;
        align-items: center;
        justify-content: flex-end;
        background-image: url(images/bg-intro-desktop.png);
    }
}